%h3 <span class='gray'>About</span> <span>Me</span>

.about_me_pic
#about_me_description
  %h3.italic <span>Hometown</span>
  %p
    I grew up in the windy city known as Chicago, IL.

  %h3.italic <span>Education</span>
  %p
    My family has taught me the value of an education. Because of this, I have developed a great work ethic. I am
    able to acclimate to whatever task i may encounter and strive to work diligently on said task. Much of my accolade was attained during my years
    at Holy Trinity High school, in the north west side of Chicago. After graduating High School, I continued my studies at DePaul University,
    where I obtained my Bachelor's degree in Mathematics and Computer Science. Currently, I'm working on my Master's degree.  

  %h3.italic <span>Work</span>
  %ul
    %li Tukaiz - 
    %li Fieldglass - 
    %li Navteq Corporation -

  %h3.italic <span>Interests</span>
  %p
    Crafting the Web has been a big interest of mine. This is the way in which I can express myself and do what I love most, learn.
    On my free time, I like to delve into building websites as well as programming. I am also a big Chicago sports fan. In my eyes, it's a great
    thing when a group of people can come together and put their differences aside for a common purpose. I find this a thing of beauty.
