#home_header  
  #home_name
    %h1 George's <span>Portfolio #{ENV["DATABASE_URL"]}</span>

#home_image
%h4.home_wording I am ecstatic to report this app was created in <span>Sinatra</span><br/> (A Ruby Framework)
