#home_header  
  #home_name
    %h1 George's <span>Portfolio</span>

#home_image
%h4.home_wording 
  .tweet "#{@last_tweet.text}"
  <span>Latest Tweet via</span> <a href='http://www.twitter.com/georgediaz23' target='_blank'>Twitter</a>
