#home_header  
  #home_name
    %h1 George's <span>Portfolio</span>
    #social_media
      #contact_methods
        %ul
          %li.facebook
            %a{:href => 'http://www.facebook.com/profile.php?id=1144343153', :target => '_blank'}
              %img{:src => '/images/facebook_icon_small.png', :height => '50px', :width => '50px'}
          %li.linked_in
            %a{:href => 'http://www.linkedin.com/pub/george-diaz/20/89/615', :target => '_blank'}
              %img{:src => '/images/linked_in_small.png', :height => '50px', :width => '50px'}

#home_image
%h4.home_wording I am ecstatic to report this app was created in <span>Sinatra</span> (A Ruby Framework)
