#home_header  
  #home_name
    %h1 George's <span>Portfolio</span>

#home_image
%h4.home_wording 
  .tweet "#{link_up @last_tweet.text}"
  <span>Latest <a href='http://www.twitter.com/georgediaz23' target='_blank'>tweet</a> via #{@last_tweet.source}</span> 
