#home_header  
  #home_name
    %h1 My <span>Portfolio</span>

#home_image
%ul.twitter_feed_title
  %li.twitter_bird
  %li.latest_tweets <span>Latest Tweets</span>

- @latest_tweets.each do |tweet|
  %h4.home_wording
    .tweet "#{link_up tweet.text}"
    <span><a href='http://www.twitter.com/georgediaz23' target='_blank'>tweet</a> via #{tweet.source}</span>