!!!
%html
  %head
    %title= @title || "George's Portfolio"
    %link{:rel=>'stylesheet', :media=>'screen, projection', :href=>'/style.css'}
    %script{:type=>'text/javascript', :src=>'https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js'}
  
  %body#per_page
    #wrapper
      #logo 
        George M Diaz
        #subheader 
          #menu
            %ul
              %li
                %a{:href=>'/'} Home
              %li
                %a{:href=>'/about_me'} About Me
              %li
                %a{:href=>'/my_work'} My Work
              %li
                %a{:href=>'/contact_me'} Contact Me

      #pagewrap
        #social_media
          #contact_methods
            .facebook
              %a{:href => 'http://www.facebook.com/profile.php?id=1144343153', :target => '_blank'}
                %img{:src => '/images/facebook_icon_small.png', :height => '50px', :width => '50px'}
            .linked_in
              %a{:href => 'http://www.linkedin.com/pub/george-diaz/20/89/615', :target => '_blank'}
                %img{:src => '/images/linked_in_small.png', :height => '50px', :width => '50px'}
        = yield
        #footer_email 
          Let's Talk? Email Me at: <a href='mailto:georgediaz88@yahoo.com'>georgediaz88@yahoo.com</a>

