!!!
%html{"xmlns"=>"http://www.w3.org/1999/xhtml", "xml:lang"=>"en"}
  %head
    %title= @title || "George's Portfolio"
    %link{:type=>'text/css', :rel=>'stylesheet', :href=>'/css/application.css'}
    %meta{:name=> 'viewport', :content=> 'user-scalable=no, width=device-width'}
    %script{:type=>'text/javascript', :src=>'/javascripts/jquery-1.8.3.min.js'}
    / %script{:type=>'text/javascript', :src=>'/javascripts/application.js'}

  %body
    #pagewrap
      #logo
        George M Diaz
        #subheader
          #menu
            %ul
              %li
                %a{:href=>'/'} Home
              %li
                %a{:href=>'/about_me'} About Me
              %li
                %a{:href=>'/my_work'} My Work
              %li
                %a{:href=>'/contact_me'} Contact Me
      #content
        = yield

/ #footer_email
/ #social_media
/   #contact_methods
/     %ul
/       %li.twitter
/         %a{:href => 'https://twitter.com/georgediaz23', :target => '_blank'}
/           %img{:src => '/images/twitter.png', :height => '50px', :width => '50px'}
/       %li.linked_in
/         %a{:href => 'http://www.linkedin.com/pub/george-diaz/20/89/615', :target => '_blank'}
/           %img{:src => '/images/linked_in_small.png', :height => '50px', :width => '50px'}
