%h3.page_title <span class='gray'>My</span> <span>Work</span>

#my_work
  %h3 <span>Babysphere</span>
  %img{src:'/images/bsphere.png', class:'bsphere'}
  %p
    <a href = 'http://www.babyspherez.appspot.com' target='_blank'>Babysphere</a> was designed for Nannies and Moms to come together and interact through various ways. This is through sharing funny stories, activities, job postings, and giveaways. This application was created in the python framework, <a href = 'http://www.web2py.com' target='_blank'>Web2py</a>. It was completed during my first year as a Graduate Student.
  %br

  %h3(style='clear:both;') <span>Statefarm's Lead Response Site (Internal)</span>
  %p
    @Tukaiz, I worked on applications for top tier clients. These clients include State Farm, FritoLay, Belly, CTCA, Pepsi, and Burger King to name a few. Most of my work was on State Farm's Lead Response Site. It's an internal application for handling leads through marketing vehicles which makes a campaign. This was done in Rails 3 while utilizing technologies: Ruby, Coffeescript, JQuery, Javascript, Haml/HTML, and MySql for data storage.

  %h3 <span>FunSFTP</span>
  %p
    <a href=https://github.com/georgediaz88/fun_sftp' target='_blank'>FunSFTP</a> is a ruby gem that securely transfers files via FTP. It's an easy to use wrapper for the Net::SFTP library that makes transferring files fun again!

  %h3 <span>This Site!</span>
  %p
    This site was created in Sinatra (A Ruby Framework). <img src='/images/sinatra.png' class='sinatra'/>
    I wanted to put something more than just a resume on the web and ruby's lightweight framework, Sinatra, fit the bill. I'm ecstatic that the ruby community is constantly innovating the way we use technology today and sharing these contributions. Ruby is certainly a nice language to learn and with practice, you'll become a rubyist too.
    <br/>

  %h3 <span>Find more of my work <a href='https://github.com/georgediaz88' target='_blank'>@Github</a></span>
