/* application.scss */

@import 'slides';

$standout_green: DarkSeaGreen;
$fadeout_gray: DarkGrey;
$gray_color: Grey;

/*
  @media screen and (min-width:601px) {}
  Responsive Mobile
*/

@media only screen and (max-width: 600px) {
  body { padding:0 !important;}
  #wrapper { width:90% !important; }
  #container {display:none;}
  #description {width:60% !important;}
  #pagewrap #my_work .bsphere, #pagewrap #my_work .sinatra {width:185px;}
  #home_image {width:auto; height:375px !important; width:390px !important;}
  .facebook {display:none;}
  .linked_in {display:none;}
}

/*
	Footer
*/

#footer {
	text-align:center;
	width:580px;
	margin-top:9px;
	padding:4.5px 0 18px;
	border-top:1px solid #dfdfdf;
}

#footer p {
	margin:4.5px 0;
	font-size:1.0em;
}

/*
	Anchors
*/

a:link, a:visited {
	color:SteelBlue;
}


/* 
  Modeled body from slides' body
*/

body { 
	font:normal 62.5%/1.5 Helvetica, Arial, sans-serif;
	letter-spacing:0;
	color:#434343;
	padding:20px 0;
	position:relative;
	text-shadow:0 1px 0 rgba(255,255,255,.8);
	-webkit-font-smoothing: subpixel-antialiased;
}

body#per_page{

    background-color:#2C2C29;

    #wrapper {
        width: 911px;
        margin: 20px auto;
        text-align: left;
    }

    #logo {
        color: #FFFFFF;
        font-family: Vera,Helvetica,Georgia;
        font-size: 36px;
        margin-top: 7px;
        padding: 0;
        text-decoration:none;
        text-transform: uppercase;
        #subheader {
            font-size:12px;
            // display:block;
            height: 20px;
            margin: -20px 0 0 -35px;
            #menu {
              ul {
                  list-style-type:none;
                  li {
                      float:left;
                      padding-right:12px;
                      a {color: #FFFFFF;}
                  }
              }
            }
        }
    }

    #pagewrap {
        background-color:whitesmoke;
        font-size: 24px;
        text-transform: uppercase;
        text-align: center;

        padding-right: 50px;
        padding-bottom: 50px;
        padding-left: 50px;
    
        border-top: 1px solid #000000;
        border-right: 1px solid #000000;
        border-bottom: 1px solid #000000;
        border-left: 1px solid #000000;

        .job_titles {}

        span {color:$standout_green;}

        span.gray {color:$fadeout_gray;}

        #social_media {
          #contact_methods {
              .facebook { 
                  position:fixed;
                  width:8em;
                  margin-left: 790px;
                  a:link, a:visited {color:transparent;}
               }
              .linked_in { 
                  position:fixed;
                  width:8em;
                  margin-top: 2.5em;
                  margin-left: 790px;
                  a:link, a:visited {color:transparent;}
              }
              img {
                background-color:lightgrey;
                padding:2px;
                border-right:1px solid #000;
              }
          }
        }
        

        .home_wording {
            padding-top: 18px;
            color:$fadeout_gray;
            box-shadow: -4px 15px 25px #888888;
            text-shadow: 0px 1px 1px #c5c5c5;
            border-radius:8px;
            -ms-transition:-ms-transform 2s;
            -moz-transition:-moz-transform 2s; /* Firefox 4 */
            -webkit-transition:-webkit-transform 2s; /* Safari and Chrome */
            -o-transition:-o-transform 2s; /* Opera */

            .tweet {
                font-style:italic;
            }
        }
        
        .home_wording:hover {
            /*transform:rotate(360deg);*/
            transform:scale(1.1, 1.1);
            -ms-transform:scale(1.1, 1.1);
            -moz-transform:scale(1.1, 1.1); /* Firefox 4 */
            -webkit-transform:scale(1.1, 1.1); /* Safari and Chrome */
            -o-transform:scale(1.1, 1.1); /* Opera */              
        }

        #msg {display:none;}
      
        p, #about_me_description, #my_work {font-family:Comic Sans MS;}
  
        .italic {font-style:italic;}
      
        form {
            padding-right:12px;
            #sign_mssg {color:$fadeout_gray; font-size:20px;}
            .mssg {color:red; font-size:12px; margin-top:-20px; padding-left:50px;}
            .mssg_description {color:red; font-size:12px; padding-left:50px;}
            label {font-size: 18px;}
            p.padded_email_box {padding-left:53px;}
            p.padded_text_box {padding-left: 4px;}
            #text_box { /*Todo: put in mixin(the below 2)*/
                height:30px;
                width:260px;
                margin-bottom:25px;
                font-size:14px;
                text-indent:5px;
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#D3D3D3', endColorstr='#FFFFFF'); /* for IE */
                background:-webkit-linear-gradient(top, lightgrey, white);
                background:-moz-linear-gradient(top, lightgrey, white);
                border: 1px inset #fff;
            }
            #email_box {
                height:30px;
                width:260px;
                margin-bottom:25px;
                font-size:14px;
                text-indent:5px;
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#D3D3D3', endColorstr='#FFFFFF');
                background:-webkit-linear-gradient(top, lightgrey, white);
                background:-moz-linear-gradient(top, lightgrey, white);
                border: 1px inset #fff;
            }
            #description {
                vertical-align: text-top;
                height:113px;
                width:582px;
                font-size:14px;
                border: 1px inset #fff;
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#D3D3D3', endColorstr='#FFFFFF');
                background:-webkit-linear-gradient(top, lightgrey, white);
                background:-moz-linear-gradient(top, lightgrey, white);
            }
            .submit.bttn {
                font-family: fantasy;
                color: #ffffff;
                font-size: 20px;
                padding: 10px;
                margin-left:50px;
                -webkit-border-radius: 10px;
                -moz-border-radius: 10px;
                -webkit-box-shadow: 0px 1px 3px #666666;
                -moz-box-shadow: 0px 1px 3px #666666;
                text-shadow: 0px 0px 3px #666666;
                background:#000;
                cursor:pointer;
              }

        }

        #home_header {
          #home_name {
              box-shadow: -4px 15px 25px #888888;
              text-shadow: 0px 1px 1px #c5c5c5;
              border-radius:8px;
          }
        }

        #home_image {
            background:url("/images/profile_pic.png") 0 0 no-repeat;
            margin:auto;
            height:387px;
            width:439px;
            box-shadow: 30px 15px 15px #888888;
        }

        .about_me_pic {
            background:url("/images/cake.png") 0 0 no-repeat;
            margin: auto;
            height:225px;
            width:300px;
            display:block;    
        }

        #footer_email {
            color:$fadeout_gray;
            font-weight:bold;
            font-size:15px;
            a { text-decoration:none; color:RosyBrown;}
            padding-top: 40px;
        }
      
        #about_me_description {
            text-align:left !important;
            font-size: 14px !important;
            color: $gray_color;
            p {
                text-indent: 1.5em;
                line-height:2.0em;
            }
            ul { list-style-type:circle;}
        }
      
        #my_work {
            text-align:left !important;
            font-size: 14px !important;
            color: $gray_color;
            .bsphere {
                float:left;
                padding-right:8px;
                position:relative;
                bottom:-8px;
            }
            .sinatra {
                float:right;
            }
            /*img { box-shadow: -15px 20px 10px #888; }*/
            p { text-indent: 1.5em; line-height:2.0em;}
            ul { list-style-type:none;}
            li {}
        }      
    }
}

