$standout_green: DarkSeaGreen;
$fadeout_gray: DarkGrey;
$gray_color: Grey;

/* 
	Resets defualt browser settings
	reset.css
*/


iframe,.text,caption { margin:0; padding:0; border:0; outline:0; font-weight:inherit !important; font-style:inherit !important; font-size:50% !important; font-family:inherit !important; vertical-align:baseline; text-align:left !important; }


:focus { outline:0; }
a:active { outline:none; }
body { line-height:1; color:black; background:white; }
ol,ul { list-style:none; }
table { border-collapse:separate; border-spacing:0; }
caption,th,td { text-align:left; font-weight:normal; }
blockquote:before,blockquote:after,q:before,q:after { content:""; }
blockquote,q { quotes:"" ""; }

/*
	Page style
*/
body { 
	font:normal 62.5%/1.5 Helvetica, Arial, sans-serif;
	letter-spacing:0;
	color:#434343;
	background:#efefef url(../img/background.png) repeat top center;
	padding:20px 0;
	position:relative;
	text-shadow:0 1px 0 rgba(255,255,255,.8);
	-webkit-font-smoothing: subpixel-antialiased;
}

#container {
	width:580px;
	padding:10px;
	margin:0 auto;
	position:relative;
	z-index:0;
}

#example {
	width:600px;
	height:350px;
	position:relative;
}

#ribbon {
	position:absolute;
	top:-3px;
	left:-15px;
	z-index:500;
}

#frame {
	position:absolute;
	z-index:0;
	width:739px;
	height:341px;
	top:-3px;
	left:-80px;
}

/*
	Slideshow
*/

#slides {
	position:absolute;
	top:15px;
	left:4px;
	z-index:100;
	a:link, a:visited {color:transparent;}
}

/*
	Slides container
	Important:
	Set the width of your slides container
	Set to display none, prevents content flash
*/

.slides_container {
	width:570px;
	overflow:hidden;
	position:relative;
	display:none;
}

/*
	Each slide
	Important:
	Set the width of your slides
	If height not specified height will be set by the slide content
	Set to display block
*/

.slides_container div.slide {
	width:570px;
	height:270px;
	display:block;
}


/*
	Next/prev buttons
*/

#slides .next,#slides .prev {
	position:absolute;
	top:107px;
	left:-39px;
	width:24px;
	height:43px;
	display:block;
	z-index:101;
}

#slides .next {
	left:585px;
}

/*
	Pagination
*/

.pagination {
	margin:26px auto 0;
	width:100px;
}

.pagination li {
	float:left;
	margin:0 1px;
	list-style:none;
}

.pagination li a {
	display:block;
	width:12px;
	height:0;
	padding-top:12px;
	background-image:url(../images/slides/pagination.png);
	background-position:0 0;
	float:left;
	overflow:hidden;
}

.pagination li.current a {
	background-position:0 -12px;
}

/*
	Caption
*/

.caption {
	z-index:500;
	position:absolute;
	bottom:-35px;
	left:0;
	height:30px;
	padding:5px 20px 0 20px;
	background:#000;
	background:rgba(0,0,0,.5);
	width:540px;
	font-size:1.3em;
	line-height:1.33;
	color:#fff;
	border-top:1px solid #000;
	text-shadow:none;
}

/*
	Footer
*/

#footer {
	text-align:center;
	width:580px;
	margin-top:9px;
	padding:4.5px 0 18px;
	border-top:1px solid #dfdfdf;
}

#footer p {
	margin:4.5px 0;
	font-size:1.0em;
}

/*
	Anchors

*/
a:link, a:visited {
	color:SteelBlue;
}



/* 
#######################################################################
*/
body#per_page{

    background-color:#2C2C29;

    #wrapper {
        width: 911px;
        margin: 20px auto;
        text-align: left;
    }

    #logo {
        color: #FFFFFF;
        font-family: Vera,Helvetica,Georgia;
        font-size: 36px;
        margin-top: 7px;
        padding: 0;
        text-decoration:none;
        text-transform: uppercase;
        #subheader {
            font-size:12px;
            // display:block;
            height: 20px;
            margin: -20px 0 0 -35px;
            #menu {
              ul {
                  list-style-type:none;
                  li {
                      float:left;
                      padding-right:12px;
                      a {color: #FFFFFF;}
                  }
              }
            }
        }
    }

    #pagewrap {
        //height: 811px; this adds height to every page
        background-color:WhiteSmoke;
        // font-family: helvetica,arial,sans-serif;
        font-size: 24px;
        text-transform: uppercase;
        text-align: center;

        padding-right: 50px;
        padding-bottom: 50px;
        padding-left: 50px;
    
        border-top: 1px solid #000000;
        border-right: 1px solid #000000;
        border-bottom: 1px solid #000000;
        border-left: 1px solid #000000;

        .job_titles {font-style:italic;}

        span {color:$standout_green;}

        span.gray {color:$fadeout_gray;}

        #social_media {
          #contact_methods {
              .facebook { 
                  position:fixed;
                  width:8em;
                  margin-left: 786px;
                  a:link, a:visited {color:transparent;}
               }
              .linked_in { 
                  position:fixed;
                  width:8em;
                  margin-top: 2.5em;
                  margin-left: 780px;
                  a:link, a:visited {color:transparent;}
              }
          }
        }
        

        .home_wording {
            padding-top: 18px;
            color:$fadeout_gray;
        }
      
        #msg {display:none;}
      
        p, #about_me_description, #my_work {font-family:Comic Sans MS;}
  
        .italic {font-style:italic;}
      
        form {
            #sign_mssg {color:$fadeout_gray; font-size:20px;}
            label {font-size: 18px;}
            p.padded_email_box {padding-left:55px;}
            p.padded_text_box {padding-left: 4px;}
            #text_box {width: 260px;}
            #email_box {width: 260px;}
            #description {vertical-align: text-top; width: 269px;}
            .submit {}
        }

        #home_header {
          //text-align:left !important;
          #home_name {}
        }

        #home_image {
            background:url("/images/profile_pic.png") 0 0 no-repeat;
            margin:auto;
            height:387px;
            width:439px;
            display:block;
        }

        .about_me_pic {
            background:url("/images/cake.png") 0 0 no-repeat;
            margin: auto;
            height:225px;
            width:300px;
            display:block;    
        }

        #footer_email {
            color:$fadeout_gray;
            font-weight:bold;
            font-size:15px;
            a { text-decoration:none; color:RosyBrown;}
            padding-top: 40px;
        }
      
        #about_me_description {
            text-align:left !important;
            font-size: 14px !important;
            color: $gray_color;
            p { text-indent: 1.5em; line-height:2.0em;}
            ul { list-style-type:circle;}
          
            li {}
        }
      
        #my_work {
            text-align:left !important;
            font-size: 14px !important;
            color: $gray_color;
            p { text-indent: 1.5em; line-height:2.0em;}
            ul { list-style-type:none;}
            li {}
        }      
    }
}